@{
    ViewData["Title"] = "Todo Application";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
</div>

<div class="row mt-4">
    <div class="col-12 col-md-4 mb-4">
        <div class="todo-card p-3">
            <div class="todo-card__title">
                <h2>Most Recent</h2>
            </div> 

            <p>There are no new Todo's</p>
        </div>
    </div>
    
    <div class="col-12 col-md-4 mb-4">
        <div class="todo-card p-3">
            <div class="todo-card__title">
                <h2>On Going</h2>
            </div> 

            <p>There are no new Todo's</p>
        </div>
    </div>

    <div class="col-12 col-md-4 mb-4">
        <div class="todo-card p-3">
            <div class="todo-card__title">
                <h2>Recently Done</h2>
            </div> 

            <p>There are no new Todo's</p>
        </div>
    </div>
</div>
